<!-- TaskPage.html -->

<!doctype html>
<html>
<title>Create a New Task</title>
<!-- link stylsheets in Head -->
<head>
  <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/introHCI.css" rel="stylesheet">
</head>

<!-- Body starts here -->
<body>

<center>
  <h1><a href="Homepage.html"> -Placeholder for App Name- </a></h1>
  <h3>Create a New Task</h3>
  <h4>Choose a time for your task</h4><br>

-placeholder for clock-

  <br><br><br>


    <button><a href="CreateTask.html">Back</a></button>
  <button><a href="TaskCreated.html">Confirm</a></button>

  </center>

</center>
</body>

</html>
</doc>
