<!-- DeleteTaskConfirm.html -->

<!doctype html>
<html>
<title>Viewing Name_Of_Task</title>
<!-- link stylsheets in Head -->
<head>
  <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/introHCI.css" rel="stylesheet">
</head>

<!-- Body starts here -->
<body>

<center>
  <h1><a href="Homepage.html"> -Placeholder for App Name- </a></h1>
<br><br>

<!-- This is ideally a pop-up notification -->
  <h4>Are you sure you wish to delete <i>(task name)</i>?</h4>



  <br><br><br>

  <!-- Figure out a way to space the buttons so that "back" is separated from "delete" and "edit" options -->
  <button><a href="TaskPage.html">No, let's keep this task.</a></button>
  <button><a href="DeleteTask.html">Yes, get rid of it!</a></button>

  </center>

</center>
</body>

</html>
</doc>
