<html>
<head>
  <title>Login Page</title>
  <link href="/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Slab" rel="stylesheet">
</head>

<center>
<body>

  <div class="content">
    <center>
    <h1>Login</h1>

    <br><br><br><br>

    <form method="GET" action="parent_homepage">
      Username:<br>
      <input type="text" name="username"><br>
      Password:<br>
      <input type="password" name="password"><br>
    	<input type="submit" value="Confirm">
    </form>
    <br><br><br><br>

    Don't have an account?<br>
    <a href="create_account.html">Create one!</a>

    <!---end div for content -->
    </center>
</div>

<!--Navigation Starts Here-->
<div id="navigation">
  <div class="row">
    <div class="column"><img src="/images/general/nav-space.png"></div>
    <div class="column"><img src="/images/general/nav-space.png"></div>
      <div class="column"><img src="/images/general/nav-space.png"></div>
    </div>
</div>

</body></center>
</html>
