<!-- MyProfile.html -->
=
<!doctype html>
<html>
<title>View My Profile</title>
<!-- link stylsheets in Head -->
<head>
  <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/introHCI.css" rel="stylesheet">
</head>

<!-- Body starts here -->
<body>

<center>

  <!--Should probably create a class for container & buttom (bottom for navigation back to home) -->
<h1><a href="Homepage.html"> -Placeholder for App Name- </a></h1>
<h3>My Profile</h3>
<h4>-placeholder for user profile-</h4>
<br>

<br><br><br>
<button><a href="Homepage.html">Return to Homepage</a></button>
<button>Placeholder for Edit Profile</button>
</center>
</body>

</html>
</doc>
