<html>
<head>
	<title>Parent Homepage</title>
  <link href="../public/css/bootstrap.css" rel="stylesheet">
  <link href="../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/css/bootstrap-theme.css" rel="stylesheet">
  <link href="../public/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../public/css/style.css" rel="stylesheet">
</head>


<body>
<div class="content">
  <div id="header">
  <h1>App Name</h1> <!-- {{ParentName}} -->
</div>

  <div id="createTask">
<img src="../public/images/general/create_new_task.png">
<br>
This will be text. This will be text. This will be text. This will be text. This will be text. This will be text. This will be text. This will be text. This will be text. This will be text. <br>
<a href="">Create a New Task</a><br>
<a href="">View Your Profile</a><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<a href="">Task Home</a>
</div>


<!--Navigation Starts Here-->
<div id="navigation">
  <a href=""><img src="../public/images/general/home.png"></a>
  <a href=""><img src="../public/images/general/menu.png"></a>
  <a href=""><img src="../public/images/general/view_profile.png"></a>
</div>


</div>

</body>
</html>
