<html>
<head>
	<title>Viewing Profile</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Slab" rel="stylesheet">
</head>

<body>
<div class="header">
	<h1>My Profile</h1>
</div>
  <div class="container">
<center>
  <p>View your user profile, such as who you are currently logged in as and your user history.</p><br>
  <hr><br>
	<h2>Number of Tasks Completed:</h2>


  <b> {{length}}</b><br><br>

	  <p><h2>You are currently logged in as: </h2></p>
    <br>
    {{#each user}}
    <div class="row">
<b>  {{username}}<br><br></b>
  </div>
      {{/each}}

<a href="/">Log Out</a></center>

</div>


<!--Navigation Starts Here-->
<center>
<div id="navigation">
  <div class="row">
    <div class="column"><a href="homepage"><img src="/images/general/home.png"></a></div>
    <div class="column"><a href="task_list"><img src="/images/general/list-512.png"></a></div>
    <div class="column"><a href="profile"><img src="/images/general/view_profile_ACTIVE.png"></a></div>
  </div>
</div>
</center>

<!-- Google Analytics Script -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115429097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115429097-1');
</script>
<!-- End of Google Analytics Script -->

</body>
</html>
