<!-- TaskPage.html -->

<!doctype html>
<html>
<title>Viewing Name_Of_Task</title>
<!-- link stylsheets in Head -->
<head>
  <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/introHCI.css" rel="stylesheet">
</head>

<!-- Body starts here -->
<body>

<center>
  <h1><a href="Homepage.html"> -Placeholder for App Name- </a></h1>
  <h3><i>Task Name</i></h3>
  <h4>Here is some information about your task.</h4>

<p>
  <img src="images/task_image.jpg"></img></p>
  <br>
  <b>Task Time:</b> <i>(time of task)</i><br>
  <b>Audio Reminder:</b> <i>(audio file)</i>

  <br><br><br>

  <!-- Figure out a way to space the buttons so that "back" is separated from "delete" and "edit" options -->
  <button><a href="TaskList.html">Return to Task List</a></button>
  <button><a href="DeleteTaskConfirm.html">Delete</a></button>
  <button><a href="EditTask.html">Edit</a></button>

  </center>

</center>
</body>

</html>
</doc>
