<html>
<head>
	<title>Parent Homepage</title>
  <!--
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet"> -->
  <link href="/css/style.css" rel="stylesheet">
<link href="../data.json">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Slab" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>
    $(document).ready(function() {

      $('form').submit(function (e) {
          e.preventDefault();
          let searchForm = $('#search').val();

          var flickerAPI = "http://api.flickr.com/services/feeds/photos_public.gne?jsoncallback=?";
          var animal = $(this).text();
          var flickrOptions = {
          tags: searchForm,
          format: "json"
        };
        function displayPhotos(data) {
          var photoHTML = '<ul>';
          $.each(data.items,function(i,photo) {
          photoHTML += '<li class="grid-25 tablet-grid-50">';
          photoHTML += '<a href="' + photo.link + '" class="image">';
          photoHTML += '<img src="' + photo.media.m + '"></a></li>';
          }); // end each
          photoHTML += '</ul>';
          $('#photos').html(photoHTML);
        }
        $.getJSON(flickerAPI, flickrOptions, displayPhotos);
        });
    }); // end ready 
   </script>


</head>

<center>
<body>


  <div class="content">
    <center>
    <h1>Task: {{name}}</h1></center>


      <div id="tasks">

<b>Name</b>: {{name}}<br>
<b>Description</b>: {{description}}<br>
<b>Time</b>: {{time}}<br>

<br>

<!-- end of content div -->
</div>
</div>

<!--Navigation Starts Here-->
<div id="navigation">
  <div class="row">
    <div class="column"><a href="../../../task_list"><img src="/images/general/back.png"></a></div>
    <div class="column"><a href=""><img src="/images/general/nav-space.png"></a></div>
    <div class="column"><a href="MyProfile.html"><img src="/images/general/view_profile.png"></a></div>
  </div>
</div>


</body></center>
</html>
