<!DOCTYPE html>
<html>
<head>
  <title>View Task: {{name}}</title>

  <link href="/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Slab" rel="stylesheet">
</head>

<!-- Body starts here -->
<center>
<body>
  <div class="content">
<center><h1>{{name}}Name of task</h1></center>


<!---end div for content -->
</div>


<!-- Navigation starts here -->

<div id="navigation">
  <a href="parent_homepage"><img src="/images/general/home.png"></a>
  <a href=""><img src="/images/general/list-512.png"></a>
  <a href=""><img src="/images/general/view_profile.png"></a>
</div>
</body>
</center>

</html>
</doc>
