body {
  color:#3e3e3e;
}

a {
  color:#9b8acc;
  font-family: 'Roboto Slab', serif;
  text-decoration:none;
}

a:hover{
  color:#504179;
}

h1 {
  font-size:30px;
  margin:0px;
  font-family: 'Roboto Slab', serif;
  font-weight:bold;
  padding-bottom:10px;
}

h2 {
  font-size:24px;
  margin-top:0px;
  font-family: 'Roboto Slab', serif;
  font-weight:bold;
}

input {
  font-family: 'Roboto Slab', serif;
}

.content img {

}

.content {
  background-color:#f0ede3;
  padding-top:10px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:10px;
  text-align:left;
  overflow:auto;
  height:90%;
  font-family: 'Open Sans Condensed', sans-serif;
}

#task {
  float:left;
  width:50%;
  line-height:1.15;
  margin-left:10px;
}

#tasktime {
  text-align:right;
  float:right;
  width:25%;
  font-family: 'Roboto Slab', serif;
}

#taskimage {
  text-align:left;
  float:left;
  width:15%;
  height:15%;
}

#homepage_image {
  max-width:50%;
  padding:5px;
}

#uimgurl {
  max-width:500px;
  max-height:500px;
}

.row:after {
    content:"";
    display:table;
    clear:both;
  }

#navigation {
  background-color:#2a2a2a;
  text-align:center;
  color:#c2c1bc;
  font-weight:bold;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  height:4%;
}

#navigation img {
  max-width:30px;
  max-height:30px;
  content-align:center;
}

.column {
  float:left;
  width:33.33%;
}

#icon {
  max-width:30px;
  max-height:30px;
}
