body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:4em;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size:2em;
  padding:2%;
}

a {
  color:#9b8acc;
  font-family: 'Roboto Slab', serif;
  text-decoration:none;
}

a:hover{
  color:#504179;
  text-decoration:none;
}

.column {
  float:left;
  width:33.33%;
}

#task:hover{
  background-color:#ededed;
}

#taskinfo {
  float:left;
  width:65%;
  text-align:left;
  margin:auto;
  padding-left:3%;
  font-size:1.2em;

}

#tasktime {
  float:left;
  width:10%;
  font-family: 'Roboto Slab', serif;
  font-size:1.2em;
}

#taskimage {
  float:left;
  width:150px;
}

#navigation {
  background-color:#4f4f4f;
  overflow:hidden;
  position:fixed;
  bottom:0;
  width:100%;
  height:9%;
}

#navigation img {
  width:35%;
}

#navigation a {
    float: left;
    display: block;
    padding:10%;
    margin:auto;
}

#navigation a:hover {
    background-color:#afd1dd;
}
