body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:2.8em;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size:2.8em;
  padding-bottom:2%;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:1.2em;
}

p {
  text-align:justify;
}

a {
  color:#9b8acc;
  font-family: 'Roboto Slab', serif;
  text-decoration:none;
}

a:hover{
  color:#504179;
  text-decoration:none;
}

.column {
  float:left;
  width:33.33%;
}

.container {
  font-size:1.5em;
  height:82%;
  width:90%;
  overflow:auto;
  overflow-x:hidden;
}

.header {
  text-align:center;
  margin-bottom:1%;
}

.input-group-addon {
  font-size:1.5em;
}

.glyphicon glyphicon-time {
  font-size:2em;
}

.form-group {
  padding-top:2%;
  padding-bottom:2%;
}

#task {
  padding-bottom:5%;
  padding-top:5%;
}

#task:hover{
  background-color:#ededed;
}

#taskinfo {
  float:left;
  width:65%;
  text-align:left;
  padding-left:3%;
  font-size:1.2em;
}

#tasktime {
  float:left;
  width:10%;
  font-family: 'Roboto Slab', serif;
  font-size:1.2em;
}

#taskimage {
  float:left;
  width:150px;
}

#task-homepage {
  font-size:4em;
}

#navigation {
  background-color:#4f4f4f;
  overflow:hidden;
  position:fixed;
  bottom:0;
  width:100%;
  height:9%;
}

#navigation img {
  width:35%;
}

#navigation a {
    float: left;
    display: block;
    padding:10%;
    margin:auto;
}

#navigation a:hover {
    background-color:#afd1dd;
}

#submitBtn {
  font-size:1em;
}

#input-box, #txtimgurl, #search {
  height:100px;
  font-size:1em;
}

#submit {
  font-size:1em;
  margin:2%;
}
